<footer class="rounded-top-6" style="background-color: #282828;">
    <div class="container py-10 py-lg-11">
    <div class="d-flex flex-column flex-lg-row">
        <a href="index.html" class="d-inline-block mb-4"><img src="../assets/images/logo-white.png" alt="logo-white" class="w-50" style="min-width: 200px;"></a>
        <ul class="list-unstyled ms-lg-auto">
            <div class="row g-3 d-flex flex-column flex-lg-row">
                <li class="col"><a href="#" class="text-decoration-none text-light">常見問題</a></li>
                <li class="col"><a href="#" class="text-decoration-none text-light">關於我們</a></li>
                <li class="col"><a href="#" class="text-decoration-none text-light text-nowrap">隱私權政策</a></li>
                <li class="col"><a href="#" class="text-decoration-none text-light text-nowrap">使用者條款</a></li>
            </div>
        </ul>
    </div>
    <div>
    <div class="d-flex flex-column-reverse flex-lg-row align-items-lg-center">
        <small class="text-light">copyright © 2024 LEARNING 課程網站 All Rights Reserved.</small>
        <ul class="list-unstyled ms-lg-auto mb-0">
          <div class="d-flex">
            <li class="p-2 ps-0"><a href="#" class="border border-1 border-light p-1 px-2 rounded-circle"><i class="bi bi-line text-light"></i></a></li>
            <li class="p-2"><a href="#" class="border border-1 border-light p-1 px-2 rounded-circle"><i class="bi bi-youtube text-light"></i></a></li>
            <li class="p-2 pe-0"><a href="#" class="border border-1 border-light p-1 px-2 rounded-circle"><i class="bi bi-meta text-light"></i></a></li>
          </div>
        </ul>
    </div>
    </div>
    </div>
</footer>