<div class="container mt-4">
    <nav class="navbar navbar-expand-lg shadow-lg rounded-pill">
    <div class="container-fluid">
        <div class="d-flex align-items-center w-100">
            <!-- logo -->
            <a class="navbar-brand" href="index.html">
             <div class="ms-2 ms-sm-4 d-inline-block">
                <img src="../assets/images/logo.png" alt="logo" class="img-fluid d-inline-block" style="width: 200px; min-width: 128px;">
             </div>
            </a>

            <!-- dropdown -->
            <div class="d-none d-lg-block ms-0">
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        探索
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                    </ul>
                </div>
            </div>

            <!-- search bar -->
            <div class="d-none d-lg-block">
                <form class="input-group" role="search" style="max-width: 415px;">
                    <label class="search input-group-text search-text text-neutral-60" for="search" style="background-color: transparent;">
                    <i class="bi bi-search me-2 text-dark"></i>
                    搜尋各種音樂、數學、程式及設計課程
                    <input type="search" class="form-control input-group border-0 text-dark" id="search" aria-label="Search"> 
                    <button href="#" class="btn btn-primary input-group-text" type="submit">
                        搜尋
                    </button>
                    </label>
                </form>
            </div>

            <!-- cart icon -->
            <div class="ms-auto d-flex">
                <a href="#" class="fs-5 text-neutral-80 d-inline-block"><i class="bi bi-bell"></i></a>
                <a href="#" class="fs-5 text-neutral-80 d-inline-block ms-3 me-3"><i class="bi bi-cart3"></i></a>
            </div>

            <!-- login -->
            <button type="button" class="btn btn-primary me-2 d-none d-lg-block"><a href="#"></a>登入 / 註冊</button>

            <!-- rwd navbar-toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

      </div>
      </div>
    </nav>
</div>
