<div class="container mt-1 mt-lg-4">
    <nav class="navbar navbar-expand-lg shadow-none shadow-lg-lg rounded-0 rounded-lg-pill">
    <div class="container-fluid">
        <div class="d-flex align-items-center w-100 py-2">
            <!-- logo -->
            <a class="navbar-brand" href="index.html">
             <div class="ms-2 ms-sm-4 d-inline-block">
                <img src="../assets/images/logo.png" alt="logo" class="img-fluid d-inline-block" style="width: 200px; min-width: 128px;">
             </div>
            </a>

            <!-- dropdown -->
            <div class="d-none d-lg-block ms-0">
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle me-2" href="#" role="button" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" aria-expanded="false">
                        Тјбу┤б
                    </a>
                    <ul class="dropdown-menu dropdown-menu-neutral-40 mt-6 shadow-sm group first" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><p class="dropdown-header py-3">Тјбу┤бтЁежЃе</p></li>
                    <li class="dropend"><a class="dropdown-item d-flex px-3 py-4 text-neutral-80" href="#" data-bs-toggle="dropdown">жЪ│Теѓ<i class="bi bi-chevron-right ms-auto"></i></a>
                        <ul class="dropdown-menu border-0" aria-labelledby="navbarDarkDropdownMenuLink" style="width: 200px;">
                            <li><a class="dropdown-item" href="#">С╗ќТђјж║╝</a></li>
                            <li><a class="dropdown-item" href="#">Т▓њТюЅУЙдТ│Ћ</a></li>
                            <li><a class="dropdown-item" href="#">УЄфти▒уЇеуФІтЄ║СЙєтњД­ЪФа</a></li>
                          </ul>
                    </li>
                    <li><a class="dropdown-item d-flex px-3 py-4 text-neutral-80" href="#">ТћЮтй▒<i class="bi bi-chevron-right ms-auto"></i></a></li>
                    <li><a class="dropdown-item d-flex px-3 py-4 text-neutral-80" href="#">уеІт╝Ј<i class="bi bi-chevron-right ms-auto"></i></a></li>
                    <li><a class="dropdown-item d-flex px-3 py-4 text-neutral-80" href="#">УЌЮУАЊ<i class="bi bi-chevron-right ms-auto"></i></a></li>
                    <li><a class="dropdown-item d-flex px-3 py-4 text-neutral-80" href="#">С║║ТќЄ<i class="bi bi-chevron-right ms-auto"></i></a></li>
                    <li><a class="dropdown-item d-flex px-3 py-4 text-neutral-80" href="#">УАїжіи<i class="bi bi-chevron-right ms-auto"></i></a></li>
                    <li><a class="dropdown-item d-flex px-3 py-4 text-neutral-80" href="#">ТіЋУ│ЄуљєУ▓А<i class="bi bi-chevron-right ms-auto"></i></a></li>
                    <li><a class="dropdown-item d-flex px-3 py-4 text-neutral-80" href="#">т┐ЃжЮѕТѕљжЋи<i class="bi bi-chevron-right ms-auto"></i></a></li>
                    <li><a class="dropdown-item d-flex px-3 py-4 text-neutral-80" href="#">УЂита┤ТіђУЃй<i class="bi bi-chevron-right ms-auto"></i></a></li>
                    <li><a class="dropdown-item d-flex px-3 py-4 text-neutral-80" href="#">ућЪТ┤╗тЊЂтЉ│<i class="bi bi-chevron-right ms-auto"></i></a></li>
                    </ul>
                    </li>
                    </ul>
                </div>
            </div>

            <!-- search bar -->
            <div class="d-none d-lg-block">
                <form class="input-group" role="search" style="max-width: 420px;">
                    <label class="search input-group-text search-text text-neutral-60" for="search" style="background-color: transparent;">
                    <i class="bi bi-search me-2 text-dark"></i>
                    Тљют░Ітљёуе«жЪ│ТеѓсђЂТЋИтГИсђЂуеІт╝ЈтЈіУеГУеѕУф▓уеІ
                    <input type="search" class="form-control input-group border-0 text-dark" id="search" aria-label="Search"> 
                    <button href="#" class="btn btn-primary input-group-text" type="submit">
                        Тљют░І
                    </button>
                    </label>
                </form>
            </div>

            <!-- cart icon -->
            <div class="ms-auto d-flex">
                <a href="#" class="fs-5 text-neutral-80 d-inline-block position-relative">
                    <i class="bi bi-bell"></i>
                    <span class="position-absolute top-0 start-100 translate-middle-x badge border border-light rounded-circle bg-primary p-1"><span class="visually-hidden">unread messages</span></span>
                </a>
                <a href="#" class="fs-5 text-neutral-80 d-inline-block ms-4 me-4 position-relative">
                    <i class="bi bi-cart3"></i>
                    <span class="position-absolute start-100 translate-middle-x badge border border-light rounded-circle bg-primary m-0" style="top: -2px; padding: 2px 4px;"><p class="mb-0" style="font-size: 12px;">2</p><span class="visually-hidden">unread messages</span></span>
                </a>
            </div>

            <!-- login -->
            <button type="button" class="btn btn-primary me-2 d-none d-lg-block"><a href="#"></a>уЎ╗тЁЦ / Уе╗тєі</button>

            <!-- rwd navbar-toggler -->
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

      </div>
      </div>
    </nav>
</div>
