.transform-y{
    transition: transform 0.3s ease;
    &:hover {
        transform: translateY(-5px); 
      }
}
//rotate
@keyframes rotate{
    0%{
    transform: rotate(0deg);
    }
    100%{
    transform: rotate(360deg);
    }
}
.flower-rotate-animation{
    animation: rotate 1.8s ease-in-out infinite;
}

// progress
.progress-container {
    position: relative; 
    width: 100%; 
}
@keyframes progress-xl{
    0%{
    right: 100%;
    }
    50%{
    right: 20%;
    }
    100%{
    right: 18%;
    }
}
.progress-animation-xl {
    position: absolute;
    height: 100%; 
    animation-name: progress-xl; 
    animation: progress-xl 0.8s 3.5s both;
}

@keyframes progress-full{
    0%{
    right: 100%;
    }
    50%{
    right: 20%;
    }
    100%{
    right: 0%;
    }
}
.progress-animation-full {
    position: absolute;
    height: 100%; 
    animation: progress-full 0.8s 3.5s both;
}
@keyframes progress-l{
    0%{
    right: 100%;
    }
    50%{
    right: 40%;
    }
    100%{
    right: 27%;
    }
}
.progress-animation-l {
    position: absolute;
    height: 100%; 
    animation: progress-l 1s 3.5s both;
}