<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>Learning</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- banner -->
    <div class="mx-auto py-0 py-lg-10 overflow-hidden sewiperbanner">
      <div class="swiper-container-5 position-relative">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="position-relative">
              <picture>
                <img src="../assets/images/hero-1.png" alt="banner" class="img-fluid object-fit-cover rounded-6 " style=" min-height: 480px;">
              </picture>
              <div class="position-absolute bottom-0 start-0">
                <div class="d-flex flex-column">
                <!-- badge -->
                <h6 class="small fs-lg-6 fw-bold bg-light p-3 mb-4 rounded-pill ms-lg-4 mx-3 text-center text-lg-start">
                  <span class="badge bg-primary-10 text-primary">熱銷課程 🔥</span>
                  一小時快速掌握拍攝技巧，立即拍出好照片！
                </h6>
                <!-- tittle link -->
                <button class="btn bg-primary btn-lg text-light rounded-custom-6 w-100 w-lg-auto d-lg-block" type="button">
                  <h2 class="small fs-lg-3 p-3 mb-0">探索感興趣的課程，今天立即上課
                    <i class="bi bi-arrow-right"></i>
                  </h2>
                </button>
              </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="position-relative">
              <picture>
                <img src="../assets/images/hero-2.png" alt="banner" class="img-fluid object-fit-cover rounded-6 " style=" min-height: 480px;">
              </picture>
              <div class="position-absolute bottom-0 start-0">
                <div class="d-flex flex-column">
                <!-- badge -->
                <h6 class="small fs-lg-6 fw-bold bg-light p-3 mb-4 rounded-pill ms-lg-4 mx-3 text-center text-lg-start">
                  <span class="badge bg-primary-10 text-primary">熱銷課程 🔥</span>
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                </h6>
                <!-- tittle link -->
                <button class="btn bg-primary btn-lg text-light rounded-custom-6 w-100 w-lg-auto d-lg-block" type="button">
                  <h2 class="small fs-lg-3 p-3 mb-0">探索感興趣的課程，今天立即上課
                    <i class="bi bi-arrow-right"></i>
                  </h2>
                </button>
              </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="position-relative">
              <picture>
                <img src="../assets/images/hero-3.png" alt="banner" class="img-fluid object-fit-cover rounded-6 " style=" min-height: 480px;">
              </picture>
              <div class="position-absolute bottom-0 start-0">
                <div class="d-flex flex-column">
                <!-- badge -->
                <h6 class="small fs-lg-6 fw-bold bg-light p-3 mb-4 rounded-pill ms-lg-4 mx-3 text-center text-lg-start">
                  <span class="badge bg-primary-10 text-primary">熱銷課程 🔥</span>
                    一小時學會烹飪技巧，輕鬆煮出美味料理！
                </h6>
                <!-- tittle link -->
                <button class="btn bg-primary btn-lg text-light rounded-custom-6 w-100 w-lg-auto d-lg-block" type="button">
                  <h2 class="small fs-lg-3 p-3 mb-0">探索感興趣的課程，今天立即上課
                    <i class="bi bi-arrow-right"></i>
                  </h2>
                </button>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-none d-lg-block">
        <div class="swiper-button-next position-absolute top-50 translate-middle-x bg-light text-primary  w-auto h-auto shadow-lg rounded-1" style="right: 14%;"></div>
        <div class="swiper-button-prev position-absolute top-50 translate-middle-x bg-light text-primary  w-auto h-auto shadow-lg rounded-1" style="left: 17%;"></div>
        </div>
      </div>
    </div>
    <!-- #Block 02 火熱募資課程 -->
    <section class="my-10">
      <div class="container">
        <div class="row my-5">
          <div class="col-12 col-lg-4">
            <!-- tittle -->
            <div class="mt-0 mt-lg-12">
              <h2 class="fs-1 position-relative">火熱募資課程
                <!-- flower Ｑuestion rwd沒變小--> 
                <picture>
                  <source srcset="../assets/images/deco/flower-2.png" media="(max-width: 996px)" type="image/svg+xml" style="width: 200px; transform: scale(0.5);">
                  <img src="../assets/images/deco/flower-2.png" alt="deco-flower" class="position-absolute start-0 translate-middle z-n1">
                </picture>
              </h2>
              <p class="text-neutral-80">現在購買最優惠✨</p>
            </div>
            <!-- btn-group  -->
            <div class="text-nowrap d-flex flex-wrap align-self-start" role="group" aria-label="Basic">
              <button type="button" class="btn btn-primary my-2 me-2 rounded-2 active">全部</button>
              <button type="button" class="btn btn-light border-neutral-40 text-dark my-2 me-2 rounded-2">🍽️ 烹飪料理</button>
              <button type="button" class="btn btn-light border-neutral-40 text-dark my-2 me-2 rounded-2">📊 數據分析</button>
              <button type="button" class="btn btn-light border-neutral-40 text-dark my-2 me-2 rounded-2">🎼 音樂製作</button>
              <button type="button" class="btn btn-light border-neutral-40 text-dark my-2 me-2 rounded-2">📝 創意寫作</button>
              <button type="button" class="btn btn-light border-neutral-40 text-dark my-2 me-2 rounded-2">💬 語言學習</button>
              <button type="button" class="btn btn-light border-neutral-40 text-dark my-2 me-2 rounded-2">🖌️ 藝術創作</button>
            </div>
            <!-- btn-lg 更多募資課程  -->
            <button type="button" class="btn btn-lg btn-primary fw-bold my-4 col-lg-5 col-12 d-none d-lg-block">更多募資課程</button>
          </div>
          <!-- class card -->
          <div class="col-12 col-lg-8 overflow-hidden">
            <div class="swiper-container">
              <div class="swiper-wrapper pt-6">
              <!-- card 01 -->
              <div class="swiper-slide transform-y">
                <div>
                  <div class="card shadow-sm rounded-4 border-5 position-relative">
                    <!-- card-badge -->
                    <small class="badge rounded-pill position-absolute top-0 bg-primary-10 text-primary py-2 px-3 m-3">優惠倒數 10 天</small>
                    <div class="card-rounded-img">
                      <img src="../assets/images/course-4.png" alt="class-draw" class="img-fluid w-100 rounded-top-4">
                    </div>
                    <div class="card-body">
                      <div class="writer-wrapper my-3">
                        <h6 class="card-title fw-bold pb-4">創意寫作工坊：從靈感到出版的全過程</h6>
                        <!-- writer-img -->
                        <img src="../assets/images/avatar-2-1.png" alt="Kelly Hsu-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                        <span class="text-neutral-80">Kelly Hsu</span>
                      </div>
                      <div class="card-footer">
                        <div class="d-flex">
                          <p class="text-primary fw-bold mb-2">募資進度 81 %</p>
                          <small class="ms-auto text-neutral-60">已有 521 位同學加入</small>
                        </div>
                        <!-- progress -->
                        <div class="progress mb-2 progress-container" style="height: 8px;">
                          <div class="progress-bar progress-animation-xl" role="progressbar" style="width: 100%;" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!-- price -->
                        <div class="d-flex align-items-center">
                          <h6 class="fw-bold mb-0 me-2">
                            NT$ 2,480 
                          </h6>
                          <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card 02 -->
              <div class="swiper-slide transform-y">
                <div>
                  <div class="card shadow-sm rounded-4 border-5 position-relative">
                    <!-- card-badge -->
                    <small class="badge rounded-pill position-absolute top-0 bg-primary-10 text-primary py-2 px-3 m-3">優惠倒數 17 天</small>
                    <div class="card-rounded-img">
                      <img src="../assets/images/course-1.png" alt="class-eat" class="img-fluid w-100 rounded-top-4">
                    </div>
                    <div class="card-body">
                      <div class="writer-wrapper my-3">
                        <h6 class="card-title fw-bold pb-4">健康廚房：營養均衡的素食料理指南</h6>
                        <!-- writer-img -->
                        <img src="../assets/images/avatar-1-1.png" alt="希姐帶你吃-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                        <span class="text-neutral-80">希姐帶你吃</span>
                      </div>
                      <div class="card-footer">
                        <div class="d-flex">
                          <p class="text-primary fw-bold mb-2">募資進度 281 %</p>
                          <small class="ms-auto text-neutral-60">已有 1,397 位同學加入</small>
                        </div>
                        <!-- progress -->
                        <div class="progress mb-2 progress-container" style="height: 8px;">
                          <div class="progress-bar progress-animation-full" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!-- price -->
                        <div class="d-flex align-items-center">
                          <h6 class="fw-bold mb-0 me-2">
                            NT$ 1,680
                          </h6>
                          <small class="text-neutral-60"><s>NT$ 2,980</s></small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card 03 -->
              <div class="swiper-slide transform-y">
                <div>
                <div class="card shadow-sm rounded-4 border-5 position-relative">
                  <!-- card-badge -->
                  <small class="badge rounded-pill position-absolute top-0 bg-primary-10 text-primary py-2 px-3 m-3">優惠倒數 9 天</small>
                  <div class="card-rounded-img">
                    <img src="../assets/images/course-2.png" alt="class-music" class="img-fluid w-100 rounded-top-4">
                  </div>
                  <div class="card-body">
                    <div class="writer-wrapper my-3">
                      <h6 class="card-title fw-bold pb-4">音樂製作入門：從零開始創作你的音樂</h6>
                      <!-- writer-img -->
                      <img src="../assets/images/avatar-3-1.png" alt="K.Dee-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                      <span class="text-neutral-80">K.Dee</span>
                    </div>
                    <div class="card-footer">
                      <div class="d-flex">
                        <p class="text-primary fw-bold mb-2">募資進度 76 %</p>
                        <small class="ms-auto text-neutral-60">已有 420 位同學加入</small>
                      </div>
                      <!-- progress -->
                      <div class="progress mb-2 progress-container" style="height: 8px;">
                        <div class="progress-bar progress-animation-l" role="progressbar" style="width: 100%;" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <!-- price -->
                      <div class="d-flex align-items-center">
                        <h6 class="fw-bold mb-0 me-2">
                          NT$ 2,680
                        </h6>
                        <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <!-- card 04 -->
              <div class="swiper-slide pb-0 pb-lg-6 transform-y">
                <div>
                  <div class="card shadow-sm rounded-4 border-5 position-relative">
                    <!-- card-badge -->
                    <small class="badge rounded-pill position-absolute top-0 bg-primary-10 text-primary py-2 px-3 m-3">優惠倒數 1 天</small>
                    <div class="card-rounded-img">
                      <img src="../assets/images/course-3.png" alt="class-photo" class="img-fluid w-100 rounded-top-4">
                    </div>
                    <div class="card-body">
                      <div class="writer-wrapper my-3">
                        <h6 class="card-title fw-bold pb-4">掌握商業攝影：打造你的專業攝影事業</h6>
                        <!-- writer-img -->
                        <img src="../assets/images/avatar-4-1.png" alt="Mikeeee-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                        <span class="text-neutral-80">Mikeeee</span>
                      </div>
                      <div class="card-footer">
                        <div class="d-flex">
                          <p class="text-primary fw-bold mb-2">募資進度 98 %</p>
                          <small class="ms-auto text-neutral-60">已有 290 位同學加入</small>
                        </div>
                        <!-- progress -->
                        <div class="progress mb-2 progress-container" style="height: 8px;">
                          <div class="progress-bar progress-animation-full" role="progressbar" style="width: 100%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!-- price -->
                        <div class="d-flex align-items-center">
                          <h6 class="fw-bold mb-0 me-2">
                            NT$ 1,980
                          </h6>
                          <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             </div>
             <div class="swiper-pagination position-static my-4 d-block d-lg-none"></div>
            </div>
            <button type="button" class="btn btn-lg btn-primary fw-bold my-4 col-lg-5 col-12  d-block d-lg-none">更多募資課程</button>
          </div>
        </div>
      </div>
    </section>
    <!-- #Block 03 看看大家都買了什麼 -->    
    <section class="pt-10 py-lg-12 bg-primary-gradient position-relative">
      <img src="../assets/images/deco/flower-3.png" alt="flower-3" class="position-absolute top-50 start-0 translate-middle">
      <div class="container-fluid">
        <!-- tittle -->
        <div class="text-center">
        <h2 class="d-inline-block position-relative">看看大家都買了什麼
          <img src="../assets/images/deco/flower-1.png" alt="deco-flower" class="img-fluid position-absolute top-0 start-0 translate-middle z-n1">
        </h2>
        <p class="text-neutral-60">熱銷課程一次看！✨</p>
        </div>
        <!-- class card group -->
        <div class="row row-cols-1 row-cols-md-4 g-4 d-none">
          <!-- card 01 創意寫作工坊：從靈感到出版的全過程 -->
          <div class="col">
            <div class="card h-100 rounded-4 shadow-sm">
              <img src="../assets/images/course-4.png" alt="class-create" class="img-fluid w-100 rounded-top-4">
              <div class="card-title px-3 my-3">
                <h5 class="fw-bold">創意寫作工坊：從靈感到出版的全過程</h5>
              </div>
              <div class="card-body d-flex align-items-center py-0 mb-3">
                  <img src="../assets/images/avatar-2-1.png" alt="Kelly Hsu-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                    <span class="text-neutral-80">Kelly Hsu</span>
                    
                    <!-- price -->
                    <div class="ms-auto text-end">
                        <h5 class="mb-0 fw-bold text-primary">
                          NT$ 2,480 
                        </h5>
                        <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                    </div>
                </div>
              <hr class="p-0 m-0">
              <div class="card-footer px-3 my-3">
                <div class="d-flex align-items-center">
                <div>
                  <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3">中文創作</small>
                  <br>
                  <small class="ms-2">已有 420 位同學加入</small>
                </div>
                <div class="ms-auto">
                  <i class="bi bi-star-fill text-warning"></i>
                  <small>4.0<span class="text-neutral-60"> (333)</span></small>
                </div>
              </div>
              </div>
            </div>
          </div>
          <!-- card 02 小白也會！從零開始學習 Python 程式設計 -->
          <div class="col">
            <div class="card h-100 rounded-4 shadow-sm">
              <img src="../assets/images/course-5.png" alt="class-Python" class="img-fluid w-100 rounded-top-4">
              <div class="card-title px-3 my-3">
                <h5 class="fw-bold">小白也會！從零開始學習 Python 程式設計</h5>
              </div>
              <div class="card-body d-flex align-items-center py-0 mb-3">
                  <img src="../assets/images/avatar-2-1.png" alt="Kelly Hsu-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                    <span class="text-neutral-80">Kelly Hsu</span>
                    
                    <!-- price -->
                    <div class="ms-auto text-end">
                        <h5 class="mb-0 fw-bold text-primary">
                          NT$ 2,480 
                        </h5>
                        <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                    </div>
                </div>
              <hr class="p-0 m-0">
              <div class="card-footer px-3 my-3">
                <div class="d-flex align-items-center">
                <div>
                  <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3">中文創作</small>
                  <br>
                  <small class="ms-2">已有 420 位同學加入</small>
                </div>
                <div class="ms-auto">
                  <i class="bi bi-star-fill text-warning"></i>
                  <small>4.0<span class="text-neutral-60"> (333)</span></small>
                </div>
              </div>
              </div>
            </div>
          </div>
          <!-- card 03 全面掌握 JavaScript 開發技術 -->
          <div class="col">
            <div class="card h-100 rounded-4 shadow-sm">
              <img src="../assets/images/course-6.png" alt="class-JavaScript" class="img-fluid w-100 rounded-top-4">
              <div class="card-title px-3 my-3">
                <h5 class="fw-bold">全面掌握 JavaScript 開發技術</h5>
              </div>
              <div class="card-body d-flex align-items-center py-0 mb-3">
                  <img src="../assets/images/avatar-2-1.png" alt="Kelly Hsu-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                    <span class="text-neutral-80">Kelly Hsu</span>
                    
                    <!-- price -->
                    <div class="ms-auto text-end">
                        <h5 class="mb-0 fw-bold text-primary">
                          NT$ 2,480 
                        </h5>
                        <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                    </div>
                </div>
              <hr class="p-0 m-0">
              <div class="card-footer px-3 my-3">
                <div class="d-flex align-items-center">
                <div>
                  <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3">中文創作</small>
                  <br>
                  <small class="ms-2">已有 420 位同學加入</small>
                </div>
                <div class="ms-auto">
                  <i class="bi bi-star-fill text-warning"></i>
                  <small>4.0<span class="text-neutral-60"> (333)</span></small>
                </div>
              </div>
              </div>
            </div>
          </div>
          <!-- card 04 HTML & CSS 網頁設計基礎教程 -->
          <div class="col">
            <div class="card h-100 rounded-4 shadow-sm">
              <img src="../assets/images/course-7.png" alt="class-HTML & CSS" class="img-fluid w-100 rounded-top-4">
              <div class="card-title px-3 my-3">
                <h5 class="fw-bold">HTML & CSS 網頁設計基礎教程</h5>
              </div>
              <div class="card-body d-flex align-items-center py-0 mb-3">
                  <img src="../assets/images/avatar-2-1.png" alt="Kelly Hsu-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                    <span class="text-neutral-80">Kelly Hsu</span>
                    
                    <!-- price -->
                    <div class="ms-auto text-end">
                        <h5 class="mb-0 fw-bold text-primary">
                          NT$ 2,480 
                        </h5>
                        <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                    </div>
                </div>
              <hr class="p-0 m-0">
              <div class="card-footer px-3 my-3">
                <div class="d-flex align-items-center">
                <div>
                  <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3">中文創作</small>
                  <br>
                  <small class="ms-2">已有 420 位同學加入</small>
                </div>
                <div class="ms-auto">
                  <i class="bi bi-star-fill text-warning"></i>
                  <small>4.0<span class="text-neutral-60"> (333)</span></small>
                </div>
              </div>
              </div>
            </div>
          </div>
          <!-- card 05 更進一步！深入學習 Node.js 與後端開發 -->
          <div class="col">
            <div class="card h-100 rounded-4 shadow-sm">
              <img src="../assets/images/course-8.png" alt="class-Node.js" class="img-fluid w-100 rounded-top-4">
              <div class="card-title px-3 my-3">
                <h5 class="fw-bold">更進一步！深入學習 Node.js 與後端開發</h5>
              </div>
              <div class="card-body d-flex align-items-center py-0 mb-3">
                  <img src="../assets/images/avatar-2-1.png" alt="Kelly Hsu-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                    <span class="text-neutral-80">Kelly Hsu</span>
                    
                    <!-- price -->
                    <div class="ms-auto text-end">
                        <h5 class="mb-0 fw-bold text-primary">
                          NT$ 2,480 
                        </h5>
                        <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                    </div>
                </div>
              <hr class="p-0 m-0">
              <div class="card-footer px-3 my-3">
                <div class="d-flex align-items-center">
                <div>
                  <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3">中文創作</small>
                  <br>
                  <small class="ms-2">已有 420 位同學加入</small>
                </div>
                <div class="ms-auto">
                  <i class="bi bi-star-fill text-warning"></i>
                  <small>4.0<span class="text-neutral-60"> (333)</span></small>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="overflow-hidden">
        <div class="swiper-container-4" style="min-height: 550px;">
          <div class="swiper-wrapper h-auto d-flex align-items-stretch">
            <!-- card 01 創意寫作工坊：從靈感到出版的全過程 -->
            <div class="swiper-slide h-auto">
              <div class="card rounded-4 shadow-sm h-100">
                <!-- card-badge -->
                <small class="badge rounded-pill position-absolute top-0 bg-danger-10 text-danger py-2 px-3 m-3">限時 8 折 🔥</small>
                <img src="../assets/images/course-4.png" alt="class-create" class="img-fluid w-100 rounded-top-4">
                <div class="card-title p-3 my-auto">
                  <h6 class="fw-bold">創意寫作工坊：從靈感到出版的全過程</h6>
                </div>
                <div class="card-body d-flex align-items-center py-0 mb-3 flex-grow-0">
                    <img src="../assets/images/avatar-2-1.png" alt="Kelly Hsu-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                    <span class="text-neutral-80">Kelly Hsu</span>
                        
                    <!-- price -->
                    <div class="ms-auto text-end">
                      <h6 class="mb-0 fw-bold text-primary">
                        NT$ 2,480 
                      </h6>
                      <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                    </div>
                </div>
                <hr class="p-0 m-0">
                <div class="card-footer px-3 my-3">
                <div class="d-flex align-items-center">
                  <div>
                    <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3 mb-2"> 中文創作 </small>
                    <br>
                    <small class="ms-2">已有 420 位同學加入</small>
                  </div>
                  <div class="ms-auto">
                    <i class="bi bi-star-fill text-warning"></i>
                    <small>4.0<span class="text-neutral-60"> (333)</span></small>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <!-- card 02 小白也會！從零開始學習 Python 程式設計 -->
            <div class="swiper-slide h-auto">
              <div class="card rounded-4 shadow-sm h-100">
                <!-- card-badge -->
                <small class="badge rounded-pill position-absolute top-0 bg-danger-10 text-danger py-2 px-3 m-3">限時 8 折 🔥</small>
                <img src="../assets/images/course-5.png" alt="class-Python" class="img-fluid w-100 rounded-top-4">
                <div class="card-title p-3 my-auto">
                  <h6 class="fw-bold">小白也會！從零開始學習 Python 程式設計</h6>
                </div>
                <div class="card-body d-flex align-items-center py-0 mb-3 flex-grow-0">
                    <img src="../assets/images/avatar-2-1.png" alt="Kelly Hsu-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                    <span class="text-neutral-80">Kelly Hsu</span>
                        
                    <!-- price -->
                    <div class="ms-auto text-end">
                      <h6 class="mb-0 fw-bold text-primary">
                        NT$ 2,480 
                      </h6>
                      <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                    </div>
                </div>
                <hr class="p-0 m-0">
                <div class="card-footer px-3 my-3">
                <div class="d-flex align-items-center">
                  <div>
                    <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3 mb-2"> 程式設計 </small>
                    <br>
                    <small class="ms-2">已有 420 位同學加入</small>
                  </div>
                  <div class="ms-auto">
                    <i class="bi bi-star-fill text-warning"></i>
                    <small>4.0<span class="text-neutral-60"> (333)</span></small>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <!-- card 03 全面掌握 JavaScript 開發技術 -->
            <div class="swiper-slide h-auto">
              <div class="card rounded-4 shadow-sm h-100">
                <!-- card-badge -->
                <small class="badge rounded-pill position-absolute top-0 bg-danger-10 text-danger py-2 px-3 m-3">限時 8 折 🔥</small>
                <img src="../assets/images/course-6.png" alt="class-JavaScript" class="img-fluid w-100 rounded-top-4">
                <div class="card-title p-3 my-auto">
                  <h6 class="fw-bold">全面掌握 JavaScript 開發技術</h6>
                </div>
                <div class="card-body d-flex align-items-center py-0 mb-3 flex-grow-0">
                    <img src="../assets/images/avatar-2-1.png" alt="Kelly Hsu-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                    <span class="text-neutral-80">Kelly Hsu</span>
                        
                    <!-- price -->
                    <div class="ms-auto text-end">
                      <h6 class="mb-0 fw-bold text-primary">
                        NT$ 2,480 
                      </h6>
                      <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                    </div>
                </div>
                <hr class="p-0 m-0">
                <div class="card-footer px-3 my-3">
                <div class="d-flex align-items-center">
                  <div>
                    <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3 mb-2"> 開發技術 </small>
                    <br>
                    <small class="ms-2">已有 420 位同學加入</small>
                  </div>
                  <div class="ms-auto">
                    <i class="bi bi-star-fill text-warning"></i>
                    <small>4.0<span class="text-neutral-60"> (333)</span></small>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <!-- card 04 HTML & CSS 網頁設計基礎教程 -->
            <div class="swiper-slide h-auto">
              <div class="card rounded-4 shadow-sm h-100">
                <img src="../assets/images/course-7.png" alt="class-HTML & CSS " class="img-fluid w-100 rounded-top-4">
                <div class="card-title p-3 my-auto">
                  <h6 class="fw-bold">HTML & CSS 網頁設計基礎教程</h6>
                </div>
                <div class="card-body d-flex align-items-center py-0 mb-3 flex-grow-0">
                    <img src="../assets/images/avatar-2-1.png" alt="Kelly Hsu-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                    <span class="text-neutral-80">Kelly Hsu</span>
                        
                    <!-- price -->
                    <div class="ms-auto text-end">
                      <h6 class="mb-0 fw-bold text-primary">
                        NT$ 2,480 
                      </h6>
                      <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                    </div>
                </div>
                <hr class="p-0 m-0">
                <div class="card-footer px-3 my-3">
                <div class="d-flex align-items-center">
                  <div>
                    <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3 mb-2"> 網頁設計 </small>
                    <br>
                    <small class="ms-2">已有 420 位同學加入</small>
                  </div>
                  <div class="ms-auto">
                    <i class="bi bi-star-fill text-warning"></i>
                    <small>4.0<span class="text-neutral-60"> (333)</span></small>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <!-- card 05 更進一步！深入學習 Node.js 與後端開發 -->
            <div class="swiper-slide h-auto">
              <div class="card rounded-4 shadow-sm h-100">
                <img src="../assets/images/course-8.png" alt="class-Node.js" class="img-fluid w-100 rounded-top-4">
                <div class="card-title p-3 my-auto">
                  <h6 class="fw-bold">更進一步！深入學習 Node.js 與後端開發</h6>
                </div>
                <div class="card-body d-flex align-items-center py-0 mb-3 flex-grow-0">
                    <img src="../assets/images/avatar-2-1.png" alt="Kelly Hsu-img" class="rounded-circle object-fit-cover me-2" style="width: 44px; height: 44px;">
                    <span class="text-neutral-80">Kelly Hsu</span>
                        
                    <!-- price -->
                    <div class="ms-auto text-end">
                      <h6 class="mb-0 fw-bold text-primary">
                        NT$ 2,480 
                      </h6>
                      <small class="text-neutral-60"><s>NT$ 3,200</s></small>
                    </div>
                </div>
                <hr class="p-0 m-0">
                <div class="card-footer px-3 my-3">
                <div class="d-flex align-items-center">
                  <div>
                    <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3 mb-2"> 後端開發 </small>
                    <br>
                    <small class="ms-2">已有 420 位同學加入</small>
                  </div>
                  <div class="ms-auto">
                    <i class="bi bi-star-fill text-warning"></i>
                    <small>4.0<span class="text-neutral-60"> (333)</span></small>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="swiper-pagination position-static my-4 d-block d-sm-none"></div>
          <div class="d-none d-lg-block">
            <div class="swiper-button-next position-absolute top-50 translate-middle-x bg-primary text-light w-auto h-auto shadow-lg rounded-1" style="right: 5%;"></div>
            <div class="swiper-button-prev position-absolute top-50 translate-middle-x bg-light text-primary w-auto h-auto shadow-lg rounded-1" style="left: 8%;"></div>
          </div>
        </div>
        </div>
      </div>
    </section>
    <!-- #Block 04 想學什麼嗎？一探究竟。 -->
    <section class="my-10 my-lg-12">
      <div class="container-fluid" style="max-width: 1656px;">
        <!-- blue board -->
        <div class="bg-primary rounded-5">
          <div class="row flex-row-reverse align-items-center py-10">
            <div class="col-12 col-lg-5">
              <div class="d-block d-lg-flex mx-auto">
                <picture>
                  <img src="../assets/images/deco/polygon-1.png" alt="polygon" class="img-fluid">
                </picture>
                <div class="text-light ms-2">
                <h1>
                  想學什麼嗎？<br>
                  一探究竟。
                </h1>
                <picture> 
                  <source srcset="../assets/images/deco/line-2.png" media="(max-width: 996px)" type="image/svg+xml" class="w-50 img-fluid">
                  <img src="../assets/images/deco/line-2.png" alt="line" class="w-auto img-fluid">
                </picture>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 d-none d-lg-block">
              <div class="row g-3">
                <!-- card 01 網路行銷 -->
                <div class="col-8 col-lg-5">
                  <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                    <div class="d-flex align-items-center ms-4">
                      <img src="../assets/images/icons/megaphoneSimple.png" class="img-fluid rounded-2 p-3" style="background-color: #FF994F;" alt="">
                      <div class="card-body">
                        <p class="card-title fw-bold mb-0">網路行銷</p>
                        <small class="card-text text-neutral-60">T342 門課程</small>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- card 02 拍攝剪輯 -->
                <div class="col-8 col-lg-5">
                  <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                    <div class="d-flex align-items-center ms-4">
                      <img src="../assets/images/icons/camera.png" class="img-fluid rounded-2 p-3" style="background-color: #5E5E5E;" alt="camera-icon">
                      <div class="card-body">
                        <p class="card-title fw-bold mb-0">拍攝剪輯</p>
                        <small class="card-text text-neutral-60">563 門課程</small>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- card 03 自我成長 -->
                <div class="col-8 col-lg-5">
                  <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                    <div class="d-flex align-items-center ms-4">
                      <img src="../assets/images/icons/chartBarHorizontal.png" class="img-fluid rounded-2 p-3" style="background-color: #FF9BAD;" alt="chartBarHorizontal-icon">
                      <div class="card-body">
                        <p class="card-title fw-bold mb-0">自我成長</p>
                        <small class="card-text text-neutral-60">490 門課程</small>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- card 04 藝術設計 -->
                <div class="col-8 col-lg-5">
                  <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                    <div class="d-flex align-items-center ms-4">
                      <img src="../assets/images/icons/penNib.png" class="img-fluid rounded-2 p-3" style="background-color: #564FFD;" alt="penNib-icon">
                      <div class="card-body">
                        <p class="card-title fw-bold mb-0">藝術設計</p>
                        <small class="card-text text-neutral-60">230 門課程</small>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- card 05 數據分析 -->
                <div class="col-8 col-lg-5">
                  <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                    <div class="d-flex align-items-center ms-4">
                      <img src="../assets/images/icons/bugDroid.png" class="img-fluid rounded-2 p-3" style="background-color: #54DFF2;" alt="bugDroid-icon">
                      <div class="card-body">
                        <p class="card-title fw-bold mb-0">數據分析</p>
                        <small class="card-text text-neutral-60">395 門課程</small>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- card 06 投資理財 -->
                <div class="col-8 col-lg-5">
                  <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                    <div class="d-flex align-items-center ms-4">
                      <img src="../assets/images/icons/creditCard.png" class="img-fluid rounded-2 p-3" style="background-color: #52E9BC;" alt="creditCard-icon">
                      <div class="card-body">
                        <p class="card-title fw-bold mb-0">投資理財</p>
                        <small class="card-text text-neutral-60">486 門課程</small>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- card 07 音樂創作 -->
                <div class="col-8 col-lg-5">
                  <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                    <div class="d-flex align-items-center ms-4">
                      <img src="../assets/images/icons/headphones.png" class="img-fluid rounded-2 p-3" style="background-color: #CF93FF;" alt="headphones-icon">
                      <div class="card-body">
                        <p class="card-title fw-bold mb-0">音樂創作</p>
                        <small class="card-text text-neutral-60">283 門課程</small>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- card 08 探索更多 -->
                <div class="col-8 col-lg-5">
                  <a href="#" class="card rounded-4 text-decoration-none py-9 h-100 position-relative">
                    <div class="d-flex align-items-center ms-4 position-absolute top-50 translate-middle-y">
                      <img src="../assets/images/icons/arrow.png" class="img-fluid rounded-2 p-3 bg-primary" alt="arrow-icon">
                      <div class="card-body h-100">
                        <p class="card-title fw-bold mb-0">探索更多</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 d-block d-lg-none overflow-hidden mt-3">
              <div class="row d-block d-lg-none">
              <div class="swiper-container-2"> 
                <div class="swiper-wrapper mx-3 h-auto"> 
                  <!-- card 01 網路行銷 -->
                  <div class="swiper-slide">
                    <div class="col w-100">
                      <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                        <div class="d-flex align-items-center ms-4">
                          <img src="../assets/images/icons/megaphoneSimple.png" class="img-fluid rounded-2 p-3" style="background-color: #FF994F;" alt="">
                          <div class="card-body">
                            <p class="card-title fw-bold mb-0">網路行銷</p>
                            <small class="card-text text-neutral-60">T342 門課程</small>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- card 02 拍攝剪輯 -->
                  <div class="swiper-slide">
                    <div class="col">
                      <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                        <div class="d-flex align-items-center ms-4">
                          <img src="../assets/images/icons/camera.png" class="img-fluid rounded-2 p-3" style="background-color: #5E5E5E;" alt="camera-icon">
                          <div class="card-body">
                            <p class="card-title fw-bold mb-0">拍攝剪輯</p>
                            <small class="card-text text-neutral-60">563 門課程</small>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- card 03 自我成長 -->
                  <div class="swiper-slide">
                    <div class="col">
                      <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                        <div class="d-flex align-items-center ms-4">
                          <img src="../assets/images/icons/chartBarHorizontal.png" class="img-fluid rounded-2 p-3" style="background-color: #FF9BAD;" alt="chartBarHorizontal-icon">
                          <div class="card-body">
                            <p class="card-title fw-bold mb-0">自我成長</p>
                            <small class="card-text text-neutral-60">490 門課程</small>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- card 04 藝術設計 -->
                  <div class="swiper-slide">
                    <div class="col">
                      <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                        <div class="d-flex align-items-center ms-4">
                          <img src="../assets/images/icons/penNib.png" class="img-fluid rounded-2 p-3" style="background-color: #564FFD;" alt="penNib-icon">
                          <div class="card-body">
                            <p class="card-title fw-bold mb-0">藝術設計</p>
                            <small class="card-text text-neutral-60">230 門課程</small>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!-- card 05 數據分析 -->
                  <div class="swiper-slide">
                  <div class="col">
                    <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                      <div class="d-flex align-items-center ms-4">
                        <img src="../assets/images/icons/bugDroid.png" class="img-fluid rounded-2 p-3" style="background-color: #54DFF2;" alt="bugDroid-icon">
                        <div class="card-body">
                          <p class="card-title fw-bold mb-0">數據分析</p>
                          <small class="card-text text-neutral-60">395 門課程</small>
                        </div>
                      </div>
                    </a>
                  </div>
                  </div>
                  <!-- card 06 投資理財 -->
                  <div class="swiper-slide">
                  <div class="col">
                    <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                      <div class="d-flex align-items-center ms-4">
                        <img src="../assets/images/icons/creditCard.png" class="img-fluid rounded-2 p-3" style="background-color: #52E9BC;" alt="creditCard-icon">
                        <div class="card-body">
                          <p class="card-title fw-bold mb-0">投資理財</p>
                          <small class="card-text text-neutral-60">486 門課程</small>
                        </div>
                      </div>
                    </a>
                  </div>
                  </div>
                  <!-- card 07 音樂創作 -->
                  <div class="swiper-slide">
                  <div class="col">
                    <a href="#" class="card rounded-4 text-decoration-none py-3 h-100">
                      <div class="d-flex align-items-center ms-4">
                        <img src="../assets/images/icons/headphones.png" class="img-fluid rounded-2 p-3" style="background-color: #CF93FF;" alt="headphones-icon">
                        <div class="card-body">
                          <p class="card-title fw-bold mb-0">音樂創作</p>
                          <small class="card-text text-neutral-60">283 門課程</small>
                        </div>
                      </div>
                    </a>
                  </div>
                  </div>
                  <!-- card 08 探索更多 -->
                  <div class="swiper-slide">
                  <div class="col h-100">
                    <a href="#" class="card rounded-4 text-decoration-none py-5 h-100">
                      <div class="d-flex align-items-center ms-4">
                        <img src="../assets/images/icons/arrow.png" class="img-fluid rounded-2 bg-primary p-4" alt="arrow-icon">
                        <div class="card-body h-100">
                          <p class="card-title fw-bold mb-0">探索更多</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </section>
    <!-- #Block 05 頂尖講師帶你飛 -->
    <section class="my-10 my-lg-12 position-relative">
      <img src="../assets/images/deco/line-1.png" alt="" class="img-fluid position-absolute top-15 w-auto h-auto z-n1">
      <div class="container">
        <!-- tittle -->
        <div class="text-center">
          <h2 class="d-inline-block position-relative">頂尖講師帶你飛
            <img src="../assets/images/deco/flower-1.png" alt="" class="img-fluid position-absolute top-0 start-0 translate-middle z-n1">
          </h2>
          <p class="text-neutral-60">超真實學員評價，這些講師你絕對不能錯過！</p>
          </div>
        </div>
      <!-- teacher card -->
      <div class="container d-none d-lg-block">
        <div class="row row-cols-1 row-cols-md-3 g-2 py-10">
          <!-- teacher01 Mr. Robert  -->
          <div class="col">
            <div class="card mx-auto" style="max-width: 416px; background-color: initial;">
              <img src="../assets/images/teacher-3.png" class="card-img-top w-auto object-fit-cover ms-10" alt="...">
              <div class="card-body w-auto bg-light rounded-4 shadow-lg me-6 z-1" style="margin-top: -80px; max-width: 384px;">
                <h5 class="card-tittle py-5 fw-bold">
                  Mr. Robert 
                </h5>
                <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3 mb-2 me-2">音樂創作</small>
                <i class="bi bi-star-fill text-warning"></i>
                <small>4.0<span class="text-neutral-60"> (333)</span></small>
                <p class="ms-2">Robert 的線上課程深受學生喜愛。他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。</p>
                <div class="card-footer bg-light mt-auto">
                  <button class="btn btn-lg btn-primary text-light w-100 fs-6 my-5">探索 Mr. Robert 的教學課程</button>
                </div>
              </div>
            </div>
          </div>
          <!-- teacher02 Kelly Beck  -->
          <div class="col">
            <div class="card mx-auto h-100" style="max-width: 416px; background-color: initial;">
              <img src="../assets/images/teacher-1.png" class="card-img-top bg-none w-auto object-fit-cover ms-10" alt="...">
              <div class="card-body w-auto bg-light rounded-4 shadow-lg me-6 z-1" style="margin-top: -80px; max-width: 384px;">
                <h5 class="card-tittle py-5 fw-bold">
                  Kelly Beck
                </h5>
                <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3 mb-2 me-2">英文寫作</small>
                <i class="bi bi-star-fill text-warning"></i>
                <small>4.0<span class="text-neutral-60"> (281)</span></small>
                <p class="ms-2">Kelly 的教學方式靈活且富有創意，能夠有效提升學生的寫作技巧和自信心。Kelly 注重實用性，針對學生的需求量身打造教學內容，並提供具體的反饋和建議。</p>
                <div class="card-footer bg-light mt-auto">
                  <button class="btn btn-lg btn-primary text-light w-100 fs-6 my-5">探索 Kelly Beck 的教學課程</button>
                </div>
              </div>
            </div>
          </div>
          <!-- teacher03 K. Lee  -->
          <div class="col">
            <div class="card mx-auto h-100" style="max-width: 416px; background-color: initial;">
              <img src="../assets/images/teacher-2.png" class="card-img-top bg-none w-auto object-fit-cover ms-10" alt="...">
              <div class="card-body w-auto bg-light rounded-4 shadow-lg me-6 d-flex flex-column" style="margin-top: -80px; max-width: 384px;">
                <h5 class="card-tittle py-5 fw-bold">
                  K. Lee 
                </h5>
                <div>
                  <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3 mb-2 me-2">音樂創作</small>
                  <i class="bi bi-star-fill text-warning"></i>
                  <small>4.0<span class="text-neutral-60"> (1,245)</span></small>
                </div>
                <p class="ms-2">K. Lee 的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K. Lee 的課程讓他們對音樂產生了濃厚的興趣！</p>
                <div class="card-footer bg-light mt-auto">
                  <button class="btn btn-lg btn-primary text-light w-100 fs-6 my-5">探索 K. Lee 的教學課程</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- teacher-swiper -->
      <div class="container d-block d-lg-none overflow-hidden">
        <div class="row g-4 py-10">
          <div class="swiper-container-3"> 
            <div class="swiper-wrapper"> 
              <div class="swiper-slide">
                <div class="col">
                  <div class="card mx-auto" style="max-width: 416px; background-color: initial;">
                    <img src="../assets/images/teacher-3.png" class="card-img-top w-auto object-fit-cover ms-10" alt="...">
                    <div class="card-body w-auto bg-light rounded-4 shadow-lg me-6 z-1" style="margin-top: -80px; max-width: 384px;">
                      <h5 class="card-tittle py-5 fw-bold">
                        Mr. Robert 
                      </h5>
                      <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3 mb-2 me-2">音樂創作</small>
                      <i class="bi bi-star-fill text-warning"></i>
                      <small>4.0<span class="text-neutral-60"> (333)</span></small>
                      <p class="ms-2">Robert 的線上課程深受學生喜愛。他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。</p>
                      <div class="card-footer bg-light mt-auto">
                        <button class="btn btn-lg btn-primary text-light w-100 fs-6 my-5">探索 Mr. Robert 的教學課程</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="col">
                  <div class="card mx-auto h-100" style="max-width: 416px; background-color: initial;">
                    <img src="../assets/images/teacher-1.png" class="card-img-top bg-none w-auto object-fit-cover ms-10" alt="...">
                    <div class="card-body w-auto bg-light rounded-4 shadow-lg me-6 z-1" style="margin-top: -80px; max-width: 384px;">
                      <h5 class="card-tittle py-5 fw-bold">
                        Kelly Beck
                      </h5>
                      <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3 mb-2 me-2">英文寫作</small>
                      <i class="bi bi-star-fill text-warning"></i>
                      <small>4.0<span class="text-neutral-60"> (281)</span></small>
                      <p class="ms-2">Kelly 的教學方式靈活且富有創意，能夠有效提升學生的寫作技巧和自信心。Kelly 注重實用性，針對學生的需求量身打造教學內容，並提供具體的反饋和建議。</p>
                      <div class="card-footer bg-light mt-auto">
                        <button class="btn btn-lg btn-primary text-light w-100 fs-6 my-5">探索 Kelly Beck 的教學課程</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="col">
                  <div class="card mx-auto h-100" style="max-width: 416px; background-color: initial;">
                    <img src="../assets/images/teacher-2.png" class="card-img-top bg-none w-auto object-fit-cover ms-10" alt="...">
                    <div class="card-body w-auto bg-light rounded-4 shadow-lg me-6 d-flex flex-column" style="margin-top: -80px; max-width: 384px;">
                      <h5 class="card-tittle py-5 fw-bold">
                        K. Lee 
                      </h5>
                      <div>
                        <small class="badge rounded-pill bg-neutral-40 text-dark py-2 px-3 mb-2 me-2">音樂創作</small>
                        <i class="bi bi-star-fill text-warning"></i>
                        <small>4.0<span class="text-neutral-60"> (1,245)</span></small>
                      </div>
                      <p class="ms-2">K. Lee 的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K. Lee 的課程讓他們對音樂產生了濃厚的興趣！</p>
                      <div class="card-footer bg-light mt-auto">
                        <button class="btn btn-lg btn-primary text-light w-100 fs-6 my-5">探索 K. Lee 的教學課程</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <!-- banner -->
    <script>
      var swiper5 = new Swiper(".swiper-container-5", {
        effect: "slide",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        spaceBetween: 24, 
        initialSlide: 1,
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        },

        breakpoints: { // 768以上
        768: {
          slidesPerView: 1.5,
          spaceBetween: 38, 
        }
      }
      });
    </script>

    <!-- #Block 02 火熱募資課程 -->
    <script>
    const swiper = new Swiper(".swiper-container", {
      slidesPerView: 1, //768以下 一張
      spaceBetween: 24, //隔 24px
      pagination: {
        el: ".swiper-pagination",
        clickable: true, 
      },
      breakpoints: { // 768以上
        768: {
          slidesPerView: 2, //顯示兩張
          grid: {
            rows: 2,  // 兩欄 row
            fill: "row", //row 橫 // column 直
          }
        }
      }
    });
    </script>

    <!-- #Block 03 看看大家都買了什麼 -->  
    <script>
      var swiper4 = new Swiper(".swiper-container-4", {
        slidesPerView: "1",
        spaceBetween: 30,
        centeredSlides: true,
        initialSlide: 1,
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        },
        pagination: {
        el: ".swiper-pagination",
        clickable: true,
        },
        breakpoints: { // 響應式設置
          768: {
            slidesPerView: 3.5, // 在大於等於 768px 的設備上顯示 2 個滑塊
          }
        }
      });
    </script>

    <!-- #Block 04 想學什麼嗎？一探究竟。 -->
    <script>
      const swiper2 = new Swiper(".swiper-container-2", { // 使用新的 class 名稱
        slidesPerView: 1.5, // 在小於 768px 的設備上顯示 1 個滑塊
        spaceBetween: 8, // 滑塊之間的間距
        pagination: {
          el: ".swiper-pagination",
          clickable: true, 
        },
        breakpoints: { // 響應式設置
          320: {
          slidesPerView: 1.5, // 手機版顯示 1 張
          grid: {
            rows: 2,  // 兩欄 row
            fill: "row", //row 橫 // column 直
          }
          },
          768: {
            slidesPerView: 3.5, // 在大於等於 768px 的設備上顯示 2 個滑塊
            spaceBetween: 8, // 滑塊之間的間距
            grid: {
            rows: 2,  // 兩欄 row
            fill: "row", //row 橫 // column 直
            }
          }
        }
      });
    </script>

    <!-- #Block 05 頂尖講師帶你飛 -->
    <script>
      const swiper3 = new Swiper(".swiper-container-3", {
        slidesPerView: 1, //768以下 一張
        spaceBetween: 24, //隔 24px
        pagination: {
          el: ".swiper-pagination",
          clickable: true, 
        },
        breakpoints: { // 響應式設置
          768: {
            slidesPerView: 1.5, // 在大於等於 768px 的設備上顯示 2 個滑塊
            spaceBetween: 8, // 滑塊之間的間距
          }
        }
      });
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
